[run]
omit = insights/contrib/*
       insights/archive/*
       insights/*/__main__.py
       # Exclude test files from coverage.
       insights/tests/*
       insights/parsers/tests/*
       insights/combiners/tests/*
branch = True

[report]
show_missing = True
