[run]
omit = insights/contrib/*
       insights/archive/*
       insights/*/__main__.py
       # Exclude test files from coverage.
       insights/tests/*
       # Exclude vendor libs from coverage
       insights/client/apps/ansible/playbook_verifier/contrib/*
branch = True

[report]
show_missing = True
