[flake8]
ignore = E203,E501,E126,E127,E128,E722,E741,W503,W504
exclude = insights/contrib,bin,docs,include,lib,lib64,.git,.collections.py,insights/parsers/tests/lvm_test_data.py,insights/client/apps/ansible/playbook_verifier/contrib,insights/tools/coverage.py
per-file-ignores = insights/__init__.py: F401
