*.bak
*.pyc
*.txt
*.csv
.coverage
.cache
*.swp
*.tsv
htmlcov
*.log
*.class
json-loader/.gradle
json-loader/build
bin/
!telemetry/bin
lib/
lib64
*.egg-info*
include/
!requirements.txt
!all_requirements.txt
tags
man
pylint.out
cover/
docs/plugin_catalog/*.rst
docs/components.rst
build/
.idea*
dist/
uploader.json
file_plugin_mapping.json
junk/
pip-selfcheck.json
.agignore
.project
.pydevproject
integration_tests/
demo-archives/
archives/
.engine_logs/
*.zip
*.gz
.ipynb_checkpoints/
sosreport*
output/
share/
.Python
.python*
