*.pyc
*.txt
*.csv
.coverage
.cache
*.swp
*.html
*.tsv
htmlcov
*.log
*.class
json-loader/.gradle
json-loader/build
bin/
!telemetry/bin
lib/
lib64
*.egg-info*
include/
!requirements.txt
!all_requirements.txt
tags
man
pylint.out
telemetry/config/active.py
cover/
docs/plugin_catalog/*.rst
build/
.idea*
dist/
telemetry/coverage.xml
telemetry/nosetests.xml
uploader.json
file_plugin_mapping.json
junk/
pip-selfcheck.json
.agignore
.project
.pydevproject
integration_tests/
demo-archives/
archives/
