include insights-core/defaults.yaml
include insights-core/NAME
include insights-core/VERSION
include insights-core/COMMIT
include insights-core/RELEASE
graft insights-core/archive/repository/base_archives
