include insights/defaults.yaml
include insights/NAME
include insights/VERSION
include insights/COMMIT
include insights/RELEASE
include insights/filters.yaml
include LICENSE
include insights/client/uploader_json_map.json
graft insights/archive/repository/base_archives
