https://files.pythonhosted.org/packages/source/s/setuptools/setuptools-17.1.tar.gz
https://files.pythonhosted.org/packages/source/c/coverage/coverage-4.3.4.tar.gz
https://files.pythonhosted.org/packages/source/a/argparse/argparse-1.4.0.tar.gz
https://files.pythonhosted.org/packages/source/C/CacheControl/CacheControl-0.12.4.tar.gz
https://files.pythonhosted.org/packages/source/c/certifi/certifi-2020.12.5.tar.gz
https://files.pythonhosted.org/packages/source/c/chardet/chardet-3.0.4.tar.gz
https://files.pythonhosted.org/packages/source/c/configparser/configparser-3.8.1.tar.gz
https://files.pythonhosted.org/packages/source/d/defusedxml/defusedxml-0.5.0.tar.gz
https://files.pythonhosted.org/packages/source/e/enum34/enum34-1.1.10.tar.gz
https://files.pythonhosted.org/packages/source/f/flake8/flake8-2.6.2.tar.gz
https://files.pythonhosted.org/packages/source/f/funcsigs/funcsigs-1.0.2.tar.gz
https://files.pythonhosted.org/packages/source/i/idna/idna-2.7.tar.gz
https://files.pythonhosted.org/packages/source/i/importlib/importlib-1.0.4.zip
https://files.pythonhosted.org/packages/source/J/Jinja2/Jinja2-2.10.3.tar.gz
https://files.pythonhosted.org/packages/source/p/pbr/pbr-3.1.1.tar.gz
https://files.pythonhosted.org/packages/source/l/lockfile/lockfile-0.12.2.tar.gz
https://files.pythonhosted.org/packages/source/M/MarkupSafe/MarkupSafe-1.0.tar.gz
https://files.pythonhosted.org/packages/source/s/setuptools_scm/setuptools_scm-1.15.7.tar.gz
https://files.pythonhosted.org/packages/source/p/pytest-runner/pytest-runner-2.6.3.tar.gz
https://files.pythonhosted.org/packages/source/m/mccabe/mccabe-0.5.3.tar.gz
https://files.pythonhosted.org/packages/source/m/mock/mock-2.0.0.tar.gz
https://files.pythonhosted.org/packages/source/m/msgpack-python/msgpack-python-0.5.6.tar.gz
https://files.pythonhosted.org/packages/source/o/ordereddict/ordereddict-1.1.tar.gz
https://files.pythonhosted.org/packages/source/p/pip/pip-9.0.3.tar.gz
https://files.pythonhosted.org/packages/source/p/py/py-1.4.34.tar.gz
https://files.pythonhosted.org/packages/source/p/pycodestyle/pycodestyle-2.0.0.tar.gz
https://files.pythonhosted.org/packages/source/p/pycparser/pycparser-2.18.tar.gz
https://files.pythonhosted.org/packages/source/p/pyflakes/pyflakes-1.2.3.tar.gz
https://files.pythonhosted.org/packages/source/p/pytest/pytest-3.0.6.tar.gz
https://files.pythonhosted.org/packages/source/p/pytest-cov/pytest-cov-2.4.0.tar.gz
https://files.pythonhosted.org/packages/source/P/PyYAML/PyYAML-3.11.tar.gz
https://files.pythonhosted.org/packages/source/r/redis/redis-2.10.6.tar.gz
https://files.pythonhosted.org/packages/source/r/requests/requests-2.19.1.tar.gz
https://files.pythonhosted.org/packages/source/s/six/six-1.11.0.tar.gz
https://files.pythonhosted.org/packages/source/u/urllib3/urllib3-1.23.tar.gz
