name: Insights Core Test

on:
  push:
    branches: [ master, '3.0']
  pull_request:
    branches: [ master ]

jobs:
  code-test:

    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python-versions: ["3.6", "3.9", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-versions }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-versions }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: flake8
      run: |
        pip install -e .[linting]
        flake8 .
    - name: pytest with coverage report
      run: |
        pip install urllib3
        pip install -e .[testing]
        pytest --cov --cov-branch --cov-report=
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        verbose: true
        flags: unittests
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  python27-test:

    runs-on: ubuntu-latest
    container:
      image: python:2.7.18-buster

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 2.7
      uses: actions/setup-python@v5
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: flake8
      run: |
        pip install -e .[linting]
        flake8 .
    - name: pytest
      run: |
        pip install urllib3
        pip install -e .[testing]
        pytest

  docs-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - name: install dependencies
      run: |
        sudo apt-get install pandoc
        python -m pip install --upgrade pip
    - name: docs Test
      run: |
        pip install -e .[docs]
        sphinx-build -W -b html -qa -E docs docs/_build/html

  gitleaks:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    # - uses: gitleaks/gitleaks-action@v2
    - uses: gitleaks/gitleaks-action@v1.6.0
      with:
        config-path: .gitleaks.toml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}

  greeting:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        pr-message: |-
          # Greetings!

          Thanks for contributing to insights-core.
          To make sure your code is compliant with the guide, please go
          through the [Contributing](https://github.com/RedHatInsights/insights-core/blob/master/CONTRIBUTING.md#contributing)
          and review your code first.
